{% extends "base.html" %}

{% block content %}
    <form action="" method="post" enctype=multipart/form-data novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}:<br>
            {{ form.name(size=32) }}

            {% for error in form.name.errors %}
                <br>
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>

        <p>
            {{ form.file.label }}:
            <br/>
            {{ form.file() }}


            {% for error in form.file.errors %}
                <br>
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>


        <p>{{ form.submit() }}</p>
    </form>


{% endblock %}