{% extends "base.html" %}

{% block content %}

    {% if results %}


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Filename</th>
                <th scope="col">Real</th>
                <th scope="col">User</th>
                <th scope="col">Sys</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            {% for result in results %}
                <tr>
                    <th scope="row">{{ result.id }}</th>
                    <td>{{ result.filename }}</td>
                    <td>{{ result.real }}</td>
                    <td>{{ result.user }}</td>
                    <td>{{ result.sys }}</td>
                    <td>{{ result.datetime.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td><a href="/delete/{{ result.id }}"><i class="fas fa-minus-circle" style="color: red"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}

        <h2>Nenhum resultado até o momento.</h2>

    {% endif %}


{% endblock %}